{% extends "base.html" %}
{% block style %}
<style media="screen">
		th {
				text-align: left;
		}
		h1 {
 			font-family: Calibri;
			color: #0a588f;
 		}
		p {
 			font-family: Calibri;
 		}
		p2 {
			font-family: Calibri;
			color: #0a588f;
		}
</style>
{% endblock %}
{% block title %}Home{% endblock %}
{% block content %}
<table style="width:80%" align="center">
  <tr>
    <th><h1>The DiscordGameBot</h1>
    <p>
			This website is meant to display the stats of the discord GameBot that we have designed for the course Research and Development Project. The Discord GameBot is designed for users to play several games on its Discord server. The stats of the games are saved and can be displayed on this site.
      </p>
      <p>
The site is divided into three sections: Leaderboard, Most valuable players and Personal stats.
      </p>
      <p>
Leaderboard:
The section ‘leaderboard’ shows a leaderboard of players and their total scores, the total scores is calculated like this: 100 points for a win, 50 points for a draw and 10 points for a loss.
      </p>
      <p>
Most valuable players:
This section is meant for certain games where the user starts with a certain amount of cash and where the user can lose or earn more cash. The amount of balance the player has is called balance.  To prevent any inconvenience the cash that is used in the games isn’t real cash. The leaderboard shows who has the most cash.
      </p>
      <p>
Personal stats:
In this section you can search for a player that is in the same server as the DiscordGameBot. Once you found the player you were looking for you can see this players balance and their stats for each game. 	      
      </p>
</th>
	<th align="right">&emsp;<img src={{ url_for('static', filename='GameBot_example.jpg')}} width="380" height="250">
		<br><br>
		<p2>&emsp; An example of the GameBot</p2>
	</th>
</table>

{% endblock %}
