{% extends "base.html" %}
{% block style %}
	h1 {
		font-family: Calibri;
		color: #0a588f;
	}
    table{
		margin-left: 40px;
		border-collapse: collapse;
	}
{% endblock %}
{% block title %}Personal Stats{% endblock %}
{% block content %}
<h1>&emsp;Game stats of {{user[0][1]}}#{{user[0][2]}}</h1>

<table>
<!-- Table headers -->
    <th>
        <tr style="color: #ffffff;
        background-color: #0a588f ">
            <td>Game</td>
            <td>Wins</td>
            <td>Losses</td>
            <td>Draws</td>
            <td>Score</td>
		    <td>Rank</td>
        </tr>
    </th>
    {%for i in range(0, len)%}
    <!-- table rows -->
    <tr>
        <td>{{stats[i][0][0]}}</td>
        <td>{{stats[i][0][2]}}</td>
        <td>{{stats[i][0][3]}}</td>
        <td>{{stats[i][0][4]}}</td>
        <td>{{stats[i][0][5]}}</td>
	    <td>#{{stats[i][0][6]}}</td>
    {%endfor%}

        <tr><td>&emsp;</td></tr>
        <tr>
            <td>Total:</td>
            <td>{{total_stats[0][1]}}</td>
            <td>{{total_stats[0][2]}}</td>
            <td>{{total_stats[0][3]}}</td>
            <td>{{total_stats[0][4]}}</td>
            <td>#{{total_stats[0][5]}}</td>
        </tr>
        <tr><td>&emsp;</td></tr>
        <tr>
            <td>Total boardgames played:</td>
            <td>{{total_stats[0][1] + total_stats[0][2] + total_stats[0][3]}}</td>
        </tr>
    </tr>
</table>
<h1>&emsp;</h1>
<h1>&emsp;Balance</h1>
<table>
    <th>
        <tr style="color: #ffffff;
        background-color: #0a588f ">
            <td>Money</td>
            <td>Rank</td>
        </tr>
    </th>

    <tr>
        <td>{{balance[0]}}</td>
        <td>#{{balance[1]}}</td>
    </tr>
</table>


{% endblock %}
