{% extends "base.html" %}
{% block style %}
<style>
	h1 {
		font-family: Calibri;
	}
	table{
		margin-left: 40px;
		border-collapse: collapse;
	}

    th:tr{
        color: blue;

    }
    tr:nth-of-type(2n){
        background-color: #e3f2fd;
				border: 1px #0a588f solid;
    }

    td{
        padding: 8px 8px;
				border: 1px #0a588f solid;
    }
</style>
{% endblock %}
{% block title %}Discord Bot{% endblock %}
{% block content %}
<h1>&emsp;Most valuable players</h1>

<table>
    <!-- Table headers -->
        <th>
            <tr style="color: #ffffff; background-color: #0a588f ">
                <td>Rank</td>
                <td>Name</td>
                <td>Money</td>
            </tr>
        </th>
    {%for i in range(0, len)%}
    <!-- table rows -->
    <tr>
        <td>{{myfunction[i][4]}}</td>
        <td>{{myfunction[i][0]}}</td>
        <td>{{myfunction[i][1]}}</td>
    {%endfor%}
    </tr>
</table>

{% endblock %}
