{% extends "base.html" %}
{% block style %}
<style media="screen">
		th {
				text-align: left;
		}
		h1 {
 			font-family: Calibri;
			color: #0a588f;
 		}
		p {
 			font-family: Calibri;
 		}
		p2 {
			font-family: Calibri;
			color: #0a588f;
		}
</style>
{% endblock %}
{% block title %}Discord Bot{% endblock %}
{% block content %}
<table style="width:80%" align="center">
  <tr>
    <th><h1>The DiscordGameBot</h1>
    <p>
			This website is meant to display the stats of the discord GameBot that we have designed for the course Research and Development Project. The Discord GameBot is designed for users to play several games on its Discord server. The stats of the games are saved and can be displayed on this site.
      </p>
      <p>
The site is divided into two main sections: stats and cash.
      </p>
      <p>
Stats:
The section ‘stats’ provides the results of the games. Users can view time rankings of the games and can also see their own individual results. There are multiple games so users can choose from which game they want to see the results.
      </p>
      <p>
Cash:
This section is meant for certain games where the user starts with a certain amount of cash and where the user can lose or earn more cash.  To prevent any inconvenience the cash that is used in the games isn’t real cash. The current amount of cash of all the users can be viewed in this section.
      </p>
</th>
	<th align="right">&emsp;<img src={{ url_for('static', filename='GameBot_example.jpg')}} width="380" height="250">
		<br><br>
		<p2>&emsp; An example of the GameBot</p2>
	</th>
</table>

{% endblock %}
